.container{
    border: 1px solid black;
    height: 100vh;
}
.header{
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;

}
.header a{
    text-decoration: none;
    padding: 0px 5px;
}
.header a:hover{
    text-decoration: underline;
    background-color: aquamarine;
}